<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Ingredient</key>
		<string>Apples</string>
		<key>Image</key>
		<string>Apples.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Avocado</string>
		<key>Image</key>
		<string>Avocado.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Bacon</string>
		<key>Image</key>
		<string>Bacon.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Baking Powder</string>
		<key>Image</key>
		<string>Baking Powder.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Beans</string>
		<key>Image</key>
		<string>Beans.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Beef</string>
		<key>Image</key>
		<string>Beef.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Beef Broth</string>
		<key>Image</key>
		<string>Beef Broth.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Beer</string>
		<key>Image</key>
		<string>Beer.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Bread</string>
		<key>Image</key>
		<string>Bread.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Butter</string>
		<key>Image</key>
		<string>Butter.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Cheese</string>
		<key>Image</key>
		<string>Cheese.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Chicken</string>
		<key>Image</key>
		<string>Chicken.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Chicken Broth</string>
		<key>Image</key>
		<string>Chicken Broth.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Chili</string>
		<key>Image</key>
		<string>Chilli.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Corn</string>
		<key>Image</key>
		<string>Corn.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Eggs</string>
		<key>Image</key>
		<string>Eggs.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Fish</string>
		<key>Image</key>
		<string>Fish.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Flour</string>
		<key>Image</key>
		<string>Flour.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Garlic</string>
		<key>Image</key>
		<string>Garlic.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Ground Beef</string>
		<key>Image</key>
		<string>Ground Beef.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Honey</string>
		<key>Image</key>
		<string>Honey.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Ketchup</string>
		<key>Image</key>
		<string>Ketchup.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Lemon Juice</string>
		<key>Image</key>
		<string>Lemon Juice.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Lime Juice</string>
		<key>Image</key>
		<string>Lime Juice.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Mayonnaise</string>
		<key>Image</key>
		<string>Mayonnaise.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Milk</string>
		<key>Image</key>
		<string>Milk.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Noodles</string>
		<key>Image</key>
		<string>Noodles.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Oats</string>
		<key>Image</key>
		<string>Oats.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Oil</string>
		<key>Image</key>
		<string>Oil.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Pasta</string>
		<key>Image</key>
		<string>Pasta.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Peanut Butter</string>
		<key>Image</key>
		<string>Peanut Butter.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Peppers</string>
		<key>Image</key>
		<string>Peppers.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Potatoes</string>
		<key>Image</key>
		<string>Potatoes.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Rice</string>
		<key>Image</key>
		<string>Rice.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Salsa</string>
		<key>Image</key>
		<string>Salsa.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Sugar</string>
		<key>Image</key>
		<string>Sugar.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Tomatoes</string>
		<key>Image</key>
		<string>Tomatoes.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Tortilla</string>
		<key>Image</key>
		<string>Tortilla.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Tuna</string>
		<key>Image</key>
		<string>Tuna.png</string>
	</dict>
	<dict>
		<key>Ingredient</key>
		<string>Vinegar</string>
		<key>Image</key>
		<string>Vinegar.png</string>
	</dict>
</array>
</plist>
